.container {
	display: inline-block;
	position: relative;
}
.head {
	background-color: red;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem;
	border: none;
	outline: none;
	p {
		text-transform: capitalize;
	}
	svg {
		background-color: transparent;
		border: none;
		font-size: 1.2rem;
	}
}
.listContainer {
	width: 100%;
	position: absolute;
}
.list {
	width: 100px;
	display: none;
	text-align: center;
	margin: auto;
	background-color: green;
}
