@import "../../variables";
.container {
	display: inline-block;
	position: relative;
}
.head {
	display: flex;
	background-color: transparent;
	justify-content: flex-start;
	align-items: center;
	padding: 0.3rem;
	padding-right: 0rem;
	border-radius: 2px;
	border: none;
	outline: none;
	transition-duration: 0ms;
	cursor: pointer;
	p {
		text-transform: capitalize;
	}
	svg {
		background-color: transparent;
		border: none;
		font-size: 1.2rem;
	}
	&:hover {
		background-color: #00213a;
	}
	&:focus-within {
		background-color: #000b12;
	}
}
.listContainer {
	width: 100%;
	position: absolute;
}
.list {
	width: 100px;
	display: none;
	text-align: center;
	margin: auto;
	background-color: #000b12;
	box-shadow: $darkShadow;
	div {
		padding: 0.5rem;
		cursor: pointer;
	}
}
