@import "../../variables";
.container {
	transform: translateY(100px);
}
.title {
	font-size: 2rem;
	text-align: center;
	font-weight: 1000;
}
.content {
	max-width: 450px;
	margin: 0rem auto;
	margin-top: 1rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.5rem;
	padding: 1.5rem 1rem;
}
.btnContainer {
	display: flex;
	gap: 1.5rem;
	flex-flow: column;
	align-items: center;
}
.Docsbtn {
	width: 200px;
	padding: 1rem 2rem;
	border-radius: $radius;
	border: none;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: $clr-secondary;
	box-shadow: $pinkShadow;
	margin-top: 1rem;
	cursor: pointer;
	a {
		color: $clr-btn;
	}
}
.Apibtn {
	width: 200px;
	padding: 1rem 2rem;
	border-radius: $radius;
	border: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: $clr-primary;
	background-color: $clr-nav;
	box-shadow: $darkShadow;
	cursor: pointer;
}

@media screen and (min-width: 700px) {
	.container {
		max-width: 1140px;
		margin: 0 auto;
		transform: translateY(150px);
	}
	.title {
		font-size: 5rem;
		text-align: center;
		font-weight: 1000;
	}
	.content {
		max-width: 900px;
		margin-top: 1rem;
		text-align: center;
		font-size: 1.25rem;
		line-height: 2rem;
		padding: 1.5rem 1rem;
	}
	.btnContainer {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		margin-top: 3rem;
	}
	.Docsbtn {
		margin-top: 0rem;
		&:hover {
			background-color: $clr-secondary-hover;
			box-shadow: $pinkShadow-hover;
		}
	}
	.Apibtn {
		&:hover {
			box-shadow: $darkShadow-hover;
			background-color: $clr-btn-light;
		}
	}
}
