@import "../../variables";
.nav {
	display: block;
	width: 100vw;
	top: 75px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 50;
	background-color: $clr-bg;
}
.sideToggle {
	background-color: $clr-bg;
	box-shadow: $darkShadow;
	padding: 1rem 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
	div {
		display: flex;
		width: 80px;
		justify-content: flex-start;
		align-items: center;
	}
	p {
		margin-left: 1rem;
		font-size: 1.15rem;
	}
	svg {
		font-size: 1rem;
	}
}
.list {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	padding: 0rem 1rem;
	background-color: $clr-bg;
	width: 100vw;
	p {
		margin: 1rem 0;
		font-size: 1.25rem;
		font-weight: 600;
	}
	li {
		position: relative;
		margin: 2rem 0;
		list-style-type: none;
		margin-left: 1.2rem;
	}
	li::before {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		position: absolute;
		background-color: $clr-primary;
		margin-left: -1.2rem;
		margin-top: 0.5rem;
	}
}
@media screen and (min-width: 900px) {
	.nav {
		width: auto !important;
		height: 400px;
		background-color: transparent;
		margin-top: 2rem;
	}
	.sideToggle {
		display: none;
	}
	.list {
		display: block !important;
		width: auto !important;
		background-color: transparent;
		overflow: auto;
		position: static;
		p {
			font-size: 1.5rem;
		}
		li {
			margin: 2rem 0;
			list-style-type: none;
			margin-left: 1.5rem;
			font-size: 1.2rem;
			a {
				&:hover {
					color: $clr-secondary;
				}
			}
		}
		li::before {
			content: "";
			width: 5px;
			height: 5px;
			margin-left: -1.5rem;
			margin-top: 0.65rem;
		}
	}
}
