@import "_variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	transition: $transition;
	color: $clr-primary;
}
.App {
	font-family: $font;
	height: 100vh;
}
html {
	background-color: $clr-bg;
}
