@import "_variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	transition: $transition;
}
.App {
	background-color: $clr-bg;
	font-family: $font;
	height: 100vh;
}
