@import "_variables";
body {
	height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	transition: $transition;
	color: $clr-primary;
}
#root {
	height: 100%;
}
.App {
	font-family: $font;
	height: 100%;
}
html {
	background-color: $clr-bg;
}
@media screen and (min-width: 900px) {
	body {
		overflow: visible !important;
	}
}
